<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do</title>
</head>
<body>
    <h1>Welcome to the To-do App</h1>
    <form method="POST" action="/">
        {% csrf_token %}
        {{TaskForm.title}}
        <input class="btn" type="submit" name="Create Task">
    </form>
    <h2>Tasks:</h2>
    {% for task in tasks %}
        <p> {{ task.title }} || completed:{{ task.completed }}</p>
        <p> {{ task.created }} </p>
        <a href="{% url 'update' task.id %}">Update</a>
        <a href="{% url 'delete' task.id %}">Delete</a>
        <br>
        <br>
    {% endfor %}

</body>
</html>